@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css"); 

:root {
    --fileSize: 180px;
    --primary: rgb(131, 199, 28);
    --secondary: rgb(252, 134, 113);
}

body {
    position: relative !important;
}

.mainContainer {
    width: 50%;
    height: 600px;
    border-radius: 16px;
    margin: 0 20px;
}

.photo {
    width: 90%;
    height: 90%;
    border: none;
}

.uploadForm {
    height: fit-content;
    width: 100%;
    margin: auto;
}

.fileSelect {
    width: 50%;
    margin: auto;
}

.fileSubmit {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitButton {
    width: 80%;
    height: 50px;
    font: 18px Sans-serif;
    color: white;
    background-color: rgb(93, 213, 250);
    outline: none;
    border-radius: 4px;
    border: none;
    transition: 0.2s background-color;
}

.inProgress {
    background-color: #339AF0 !important;
}

.done {
    background-color: var(--primary) !important;
}

.submitButton:hover {
    background-color: grey;
    cursor: pointer;
}

.fileContainer {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    height: 400px;
    overflow-y: scroll;
    padding: 30px 0;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 6px -1px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: 0.5s box-shadow;
}

.blur {
    box-shadow: rgba(0, 162, 255, 0.809) 1px 3px 60px -1px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}
.fileManager {
    width: 99%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, var(--fileSize));
    grid-gap: 10px;
    margin: auto;
}

::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

.file {
    height: var(--fileSize);
    width: var(--fileSize);
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
          0 2px 2px rgba(0,0,0,0.15), 
          0 4px 4px rgba(0,0,0,0.15), 
          0 8px 8px rgba(0,0,0,0.15);
    
}

.fileIcon{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: space-between;        
    flex-direction: column;
    font-size: 50px;
    margin-top: 10px;
}

.fileIcon > i {
    margin: auto;
    cursor: pointer;
}

.fileIcon > div {
    font: 18px calibri;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 600;
    color: rgb(97, 97, 97)

}

.fileOpt {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: auto;
    margin-top: 10px;
    width: 80%;


}

.fileDownload {
    color: var(--primary);
    font-size: 25px;
}

.fileDelete {
    color: red;
    font-size: 30px;
}

.fileOpt > div {
    transition: 0.2s transform;
    cursor: pointer;
}

.fileOpt > div:hover {
    transform: scale(1.5);
}

.fileOpt > div:active {
    transform: translateY(1px);
}

.hidden {
    display: none;
}

.error {
    background-color: var(--secondary) !important;
}

.fileIcon > img {
    width: 50%;
    height: 100%;
    max-height: 43px;
    object-fit: contain;
    margin: auto;
}

.spacer {
    width: 100%;
    height: 43px;
}

.sizeContainer{
    margin-top: 20px;
    text-align: center;
    font: 22px Sans-serif;
}

.sizeInfo {
    text-align: center;
}

.sizeBar {
    width: 90%;
    height: 20px;
    background-color: rgb(131, 199, 28) ;
    margin: auto;
    border-radius: 6px;
    overflow: hidden;
}

#progressBar {
    background-color: red;
    width: 0;
    height: 100%;
    transition: 0.2s width;
}

.modalContainer {
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.content {
    height: fit-content;
    width: fit-content;
}

.content > * {
    max-height: 80vh;
    max-width: 90vw;
    border-radius: 8px;
    
}

.onlineContainer {
    width: 100%;
    padding: 8px 0;
    z-index: 0;
}

.onlineContainer > div {
    font: 18px sans-serif;
    padding: 2px 0;
    height: fit-content;
}

.apoint {
    position: absolute;
    padding: 0 5px;
    font-size: 40px;
    color: var(--primary);
    line-height: 20px;
    left: -25px;
}

.user {
    position: relative;
    margin: 0 20px
}

.ipoint {
    color: red;
}

.timestamp {
    font-size: 12px;
    padding-left: 3px;

}
.atime {
    color: var(--primary);
}

.itime {
    color: red;
}

.userContainer {
    height: 25px;
    position: 'relative';
    display: flex;
}

.userLabel {
    background-color: white;
    font-weight: 800;
    width: 45px;
}

#online {
    padding-top: 4px;
}

#offline {
    padding-top: 4px;
}

.unauthorized {
    visibility: hidden;
}
